services:
  db:
    image: postgres:13
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: hub_torcedor
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

  backend:
    build: .
    depends_on:
      - db
    command: >
      sh -c "./wait-for-postgres.sh db &&
             pytest -q &&
             uvicorn src.main:app --host 0.0.0.0 --port 8000 --reload"


    ports:
      - "8000:8000"
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: hub_torcedor
      POSTGRES_HOST: db
      DATABASE_URL: postgresql://postgres:postgres@db:5432/hub_torcedor

volumes:
  postgres_data:
